@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Roboto:wght@400;900&display=swap");

* {
    box-sizing: border-box;
}

:root {
    --font-family: "Courier New", Courier, monospace;
}

body {
    background-color: #e4f2fe;
}

.title {
    font-family: var(--font-family);
    text-align: center;
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
}
